/*
	Syntax for CSS

	Selector {
		property:value;
		property:value;
	}

*/

* {
	font-family: "Roboto", sans-serif;
}

h1, p {
	font-family: "Montserrat", sans-serif;
}


#profile {
	height: 225px;
	width: 225px;
	border-radius: 50%;
}

#landing {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


footer {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.fa-globe, .fa-facebook, .fa-twitter, .fa-instagram, .fa-tiktok, .fa-youtube

	{
	font-size: 25px;
	color: rgb(255, 255, 255);
	margin: 0 10px 0 10px;

}
.fa-globe:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-tiktok:hover, .fa-youtube:hover

	{
	color: #676767;

}


